.deps/
.libs/
autom4te.cache/
build/
modules/
bench/var/
bench/vendor/

*.dep
*.la
*.lo
*.o
*.so
*~

Makefile
Makefile.fragments
Makefile.objects
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
run-tests.php
