includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    scanFiles:
        - ../websocket.stub.php
        - stubs/openswoole.stub.php
    paths:
        - protocol/amphp.php
        - protocol/common.php
        - protocol/openswoole.php
        - protocol/ratchet.php
        - protocol/websocket.php
        - protocol/workerman.php
        - server-runtime/amphp.php
        - server-runtime/common.php
        - server-runtime/openswoole.php
        - server-runtime/websocket.php
        - server-runtime/workerman.php
    tmpDir: var/phpstan
